<launch>  
  <!-- start Gazebo node -->
  <include file="$(find turtlebot3_manipulation_gazebo)/launch/turtlebot3_manipulation_gazebo.launch">
  </include>
  
  <!-- start navigation node -->
  <include file="$(find turtlebot3_manipulation_navigation)/launch/navigation.launch">
  </include>
  
  <!-- initialise global transformer
  <node pkg="speakbot_launch" type="practice.py" name="world" output="screen" /> -->
</launch>
